doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
		style(type='text/css').
			@font-face {
				font-family: 'PressStart2P';
				src: url('./fonts/PressStart2P-Regular.woff2') format('woff2');
				font-weight: 400;
				font-style: normal;
			}
			body {
				margin: 0;
				padding: 0;
				overflow: hidden;
			}
		title Battle City
	body
		canvas#battle-city
		script(src='script/Assets.js')
		script(src='script/helpers/common.js')
		script(src='script/PlayersIndicator.js')
		script(src='script/LevelIndicator.js')
		script(src='script/Level.js')
		script(src='script/Tank.js')
		script(src='script/Player.js')
		script(src='script/PlayersStore.js')
		script(src='script/Brick.js')
		script(src='script/Bullet.js')
		script(src='script/BulletsStore.js')
		script(src='script/Enemy.js')
		script(src='script/EnemiesQueue.js')
		script(src='script/EnemiesStore.js')
		script(src='script/Eagle.js')
		script(src='script/Menu.js')
		script(src='script/Statistics.js')
		script(src='script/scenes/MainScene.js')
		script(src='script/scenes/IntroScene.js')
		script(src='script/scenes/CoreScene.js')
		script(src='script/scenes/ResultScene.js')
		script(src='script/SceneManager.js')
		script(src='script/State.js')
		script(src='script/Renderer.js')
		script(src='script/Game.js')


